
/* NAMING CONVENTION */
/* https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md */

.MusicPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MusicPlayer.is-stopped {
  margin: 1rem 0;
  text-align: center;
  width: 4rem;
  height: 4rem;
  border-radius: 32px;
  background-color: white;
  color: black;
  cursor: pointer;
}