.App {
  background: linear-gradient(to bottom, #333, #111);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  color: white;
}

.App-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1rem 0;
}

.App-container {
  flex: 1;

  display: flex;
  flex-direction: column;
}
